@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 343 100% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 100%;

    --success: 145 63% 42%;
    --success-foreground: 0 0% 100%;

    --content: 240 5% 96%;
    --content-foreground: 0 0% 0%;

    --danger: 0 100% 50%;
    --danger-foreground: 0 0% 100%;

    --warning: 24 100% 50%;
    --warning-foreground: 0 0% 100%;

    --ring: 215 20.2% 65.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --content: 240 4% 16%;
    --content-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --success: 145 63% 42%;
    --success-foreground: 0 0% 100%;

    --ring: 216 34% 17%;
  }
}

body {
  @apply text-foreground bg-background flex min-h-dvh flex-col;
}
